# Byte-compiled / caches
__pycache__/
*.py[cod]
data/
dataset/
ECP/
DINOv3/
# Virtual environments
venv/
env/

# Data files
*.csv
*.h5
*.sqlite
*.pt

# Logs
*.log

# IDE / editor files
.vscode/
.idea/
*.swp
